<section class="slice py-6 pt-lg-7 pb-lg-8 bg-dark mt-6">
    <!-- Container -->
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-6">
                <!-- Heading -->
                <h1 class="h1 text-white text-center text-lg-left ">
                    Nếu bạn có <strong>Vấn đề?</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-white text-center text-lg-left opacity-8">
                    Vui lòng gửi phản hồi của bạn, chúng tôi sẽ liên hệ với bạn !
                </p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control form-control-sm" type="userName" placeholder="Tên của bạn"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control form-control-sm" type="email" placeholder="Địa chỉ email"
                                required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input class="form-control form-control-sm" type="phone" placeholder="056-745-234-67"
                                required>
                        </div>
                        <div class="form-group col-md-6">
                            <textarea class="form-control form-control-sm" placeholder="Phản hồi của bạn..." rows="3"
                                required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="" data-scroll-to class="btn btn-white btn-lg btn-icon">
                            <i class="far fa-paper-plane" />
                            <span class="btn-inner--text">Gửi phản hồi</span>
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 align-items-center text-center">
                <p class="text-sm  text-center">
                    <strong>CÔNG TY TNHH CHANH SI</strong> <br />
                    534/4 đường ĐIện Biên PhỦ
                    Phường 21, Quận Bình Thạnh, TP. Hồ Chí Minh
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1256323869193!2d106.71033951480086!3d10.801688692304388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a52b648cbd%3A0xf1e113ac09aa4937!2zNTM0LCA0IMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAyNSwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2ssg!4v1618655227908!5m2!1svi!2ssg"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                viewBox="0 0 2560 100" style="enable-background: new 0 0 2560 100" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
</section>