<section class="slice-sm">
    <div class="container">
        <div class="row row-grid justify-content-around align-items-center">
            <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6 mt-6">
                <h5 class="h2 mt-4">Dịch vụ</h5>
                <p class="lead lh-190 my-4">
                    Tra cứu và ước tính chi phí dịch vụ vận chuyển của <strong>Chanh8</strong>
                </p>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-primary icon-sm rounded-circle mr-3">
                                    <i class="fas fa-money-bill-alt" />
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="#FAQ">Chi phí vận chuyển nội thành</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-warning icon-sm rounded-circle mr-3">
                                    <i class="fas fa-money-check-alt" />
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="#Guid">Chi phí vận chuyển liên tỉnh</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-lg-1 ml-lg-auto pl-lg-6 mt-6">
                <div class="position-relative zindex-100">
                    <img alt="Image placeholder" src="assets/img/svg/illustrations/dichvu.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>