<section class="slice py-0 mt-6">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
                <div class="text-center d-flex justify-content-center mt-4">
                    <ul id="listBoxService"
                        class="card shadow-lg border-0 list-group d-flex flex-row flex-wrap row text-capitalize text-center w-80 p-2">
                    </ul>
                </div>
                <!-- Image -->
                <figure class="w-100" style="
            background-image: url('assets/img/banner/banner.jpg');
            height: 350px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          "></figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3 animated infinite bounce delay-2s">
                    Chanh8.com là
                    <strong class="text-warning">Dịch vụ vận chuyển</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    Với giá cước phải chăng <br />
                    Nhận và giao hàng đến tận nơi cho các khách hàng liên tỉnh.
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="" class="btn btn-primary btn-icon" target="_blank">
                        <span class="btn-inner--text">Đăng ký đối tác</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a href="/src/gioi-thieu.html" class="btn btn-neutral btn-icon d-none d-lg-inline-block"
                        target="_blank">Về chúng tôi</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const ul = document.getElementById("listBoxService");
    const listBoxService = [
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
        },
    ];
    let html = "";
    listBoxService.map(({ url_img, title }, i) => {
        html += `
                <li class="w-50 mb-3 hover-translate-y-n10 hover-shadow-lg">
                    <a>
                        <image height="42px" src="${url_img}" />
                        <p class="mt-1 p-2">${title}</p>
                    </a>
                </li>`;
        return (ul.innerHTML = html);
    });
</script>