<footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 footer-dark">
        <img style="    position: absolute;
    top: 0px;
    z-index: 3;
    left: 35px;" src="assets/img/footer/delivery-truck.png" />
        <!-- SVG shape -->
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px"
                viewBox="0 0 2560 100" style="enable-background: new 0 0 2560 100" xml:space="preserve"
                class="fill-section-secondary">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <!-- Footer -->
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- Theme's logo -->
                    <a href="index.html">
                        <img alt="Image placeholder" style="width: 120px;" src="assets/img/logo/logo_footer.png"
                            id="footer-logo" />
                    </a>
                    <!-- Address mission -->
                    <p class="mt-4 text-sm opacity-8 pr-lg-4">
                        <strong>CÔNG TY TNHH CHANH SI</strong> <br />
                        Địa chỉ: 534/4 đường ĐIện Biên PhỦ
                        Phường 21, Quận Bình Thạnh, TP. Hồ Chí Minh
                    </p>
                    <!-- Social -->
                    <ul class="nav mt-4">
                        <li class="nav-item">
                            <a class="nav-link" href="" target="_blank">
                                <image style="height: 30px;" src='assets/img/IconSocial/phone.svg' />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" target="_blank">
                                <image style="height: 30px;" src='assets/img/IconSocial/zalo.svg' />
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="" target="_blank">
                                <image style="height: 30px;" src='assets/img/IconSocial/facebook.svg' />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Tài khoản</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Cá nhân</a></li>
                        <li><a href="#">Cài đặt cá nhân</a></li>
                        <li><a href="#">Đơn hàng</a></li>
                        <li><a href="#">Thông báo</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Về chúng tôi</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Giá</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Thắc mác</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Công ty</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Tuyền dụng</a></li>
                        <li><a href="#">Trở thành tài xế</a></li>
                        <li><a href="#">Trở thành điểm dịch vụ</a></li>
                    </ul>
                </div>
            </div>
            <hr class="divider divider-fade divider-dark my-4" />
            <div class="row align-items-center justify-content-md-between pb-4">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2021
                        <a href="" class="font-weight-bold" target="_blank">Chanh8</a>.com Đã đăng ký bản quyèn
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Điều kiện </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Chính sách bảo mật </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Cookies </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>