<section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100"
            style="enable-background: new 0 0 2560 100" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <!-- Container -->
    <div class="container position-relative zindex-100">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="mt-4 mb-6">
                        <h2 class="h1 text-white">KHÁCH HÀNG TIÊU BIỂU</h2>
                        <h4 class="text-white mt-3">Bạn muốn trở thành đối tác ? </h4>
                        <!-- Play button -->
                        <a href="#" class="btn btn-primary btn-icon mt-4">Đăng ký đỗi tác</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice pt-0">
    <div class="container position-relative zindex-100">
        <div class="row">
            <div class="col-xl-4 col-sm-6 mt-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-warning badge-pill">New</span>
                        </div>
                        <div class="pl-4">
                            <h5 class="lh-130">Listen to the nature</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mt-sm-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-success badge-pill">Tips</span>
                        </div>
                        <div class="pl-4">
                            <h5 class="lh-130">Rules not to follow</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-6 mt-xl-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-danger badge-pill">Update</span>
                        </div>
                        <div class="pl-3">
                            <h5 class="lh-130">Beware the water</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-warning badge-pill">New</span>
                        </div>
                        <div class="pl-4">
                            <h5 class="lh-130">Listen to the nature</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-success badge-pill">Tips</span>
                        </div>
                        <div class="pl-4">
                            <h5 class="lh-130">Rules not to follow</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div>
                            <span class="badge badge-danger badge-pill">Update</span>
                        </div>
                        <div class="pl-3">
                            <h5 class="lh-130">Beware the water</h5>
                            <p class="text-muted mb-0">
                                Design made simple with a clean and smart HTML markup.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span class="badge badge-primary badge-pill">Key features</span>
                <h5 class="lh-180 mt-4 mb-6">Quick is a premium HTML template that includes adaptable components and
                    pages for various industries, plus new ones each month.</h5>
            </div>
        </div>
        <!-- Features -->
        <div class="row mx-lg-n4">
            <!-- Features - Col 1 -->
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">100% Responsive</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Based on Bootstrap 4</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Built with SASS</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">300+ components</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">23+ widgets</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-check">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Bootstrap Flexbox Grid</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features - Col 3 -->
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Animate CSS</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Integrated plugins</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Smart HTML markup</span>
                            <p class="text-sm text-muted mb-0">
                                Built to be customized.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg bg-section-secondary">
    <div class="container text-center">
        <div class="row justify-content-center mb-6">
            <div class="col-lg-8">
                <!-- Title -->
                <h2 class="h1 strong-600">
                    Complete features at your hand
                </h2>
                <!-- Text -->
                <p class="text-muted">
                    Thousands of developers around the world have already made Quick the main tool for building
                    websites.
                </p>
            </div>
        </div>
        <!-- Pricing -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md">
                <div class="card card-pricing text-center px-3 hover-scale-110">
                    <div class="card-header py-5 border-0 delimiter-bottom">
                        <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">49</span></div>
                        <span class="h6 text-muted">Standard License</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-sm mb-4">
                            <li class="py-2">1 end product</li>
                            <li class="py-2">Use for personal or a client</li>
                            <li class="py-2">Use in a free end product</li>
                            <li class="py-2">6 months technical support</li>
                        </ul>
                        <a href="#" class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3">Purchase
                            now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md">
                <div class="card card-pricing bg-dark text-center px-3 border-0 hover-scale-110">
                    <div class="card-header py-5 border-0 delimiter-bottom">
                        <div class="h1 text-white text-center mb-0">$<span class="price font-weight-bolder">590</span>
                        </div>
                        <span class="h6 text-white">Extended License</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
                            <li class="py-2">1 end product</li>
                            <li class="py-2">Use for personal or a client</li>
                            <li class="py-2">Use in a free end product</li>
                            <li class="py-2">Use in an end product that is <strong
                                    class="text-success text-underline--dashed">sold</strong></li>
                            <li class="py-2">6 months technical support</li>
                        </ul>
                        <a href="#" class="btn btn-sm btn-white hover-translate-y-n3 hover-shadow-lg mb-3">Purchase
                            now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p class="mb-2">
                Both pricings contains all 6 months free support. Need more?
            </p>
            <a href="#" class="text-primary text-underline--dashed">Contact us<svg xmlns="http://www.w3.org/2000/svg"
                    width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ml-2">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
        </div>
    </div>
</section>