<section class="">
    <div class="container">
        <div class="row justify-content-lg-end">
            <div class="col-lg-5 text-lg-right text-center text-md-right">
                <h6 class="display-4 text-danger">99+</h6>
                <p class="lh-180 mb-3">
                    Đã tin dùng, Ngay bây giờ bạn hãy tạo đơn hàng, theo dõi đơn hàng, có
                    quyền truy cập vào báo cáo hàng hóa <br />
                    và nhiều hơn nữa ...
                </p>
            </div>
            <div class="col-lg-6">
                <h3 class="display-4 lh-130 text-center text-md-left">Trải nghiệm trên thiết bị của bạn</h3>
                <div>
                    <ul class="list-inline d-flex justify-content-center justify-content-md-start">
                        <li class="list-inline-item hover-translate-y-n10">
                            <a href=''>
                                <img src="assets/img/download/ios.svg" alt="ios" />
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href=''>
                                <img src="assets/img/download/android.svg" alt="android" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card border-0 bg-soft-danger">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-9.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Giao Hàng Sớm Nhất</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Giao Bằng Xe Máy <br />
                            Giao khắp các quận huyện Hồ Chí Minh<br />
                            Giao hàng một giá<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-success mt-lg-5">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-4.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Quản Lý Vận Hành</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Quản lý bằng web và app<br />
                            Dễ dàng theo dõi đơn hàng<br />
                            Dễ dàng xem giá dịch vụ<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-warning mt-lg-7">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Chăm Sóc Khách Hàng</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Đại Lý Rộng Khắp<br />
                            Nhiều ưu đãi<br />
                            Hỗ trợ 24/7<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Đối tác -->
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3 class="h2-responsive bg-warning w-50 rounded-top text-center text-white text-capitalize">
                    Đối tác
                </h3>
            </div>
            <div class="col-lg-12">
                <h4 class="mt-4">
                    Cung cấp dịch vụ của <strong>CHANH SI CO., LTD</strong> và nhận hoa hồng đầy hấp dẫn
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-success">Đây là cơ hội dành cho bạn nếu:</h5>
                        <h6>
                            <ul>
                                <li>Bạn sẳn sàng cung cấp các dịch vụ </li>
                                <li>Bạn sẳn sàng hợp tác dưới thương hiệu</li>
                                <li>
                                    Bạn có mặt bằng ở nơi đông dân cư và dễ nhận diện
                                </li>
                            </ul>
                        </h6>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-success">Quyền lợi:</h5>
                        <h6>
                            <ul>
                                <li>
                                    Hoa hồng hấp dẫn
                                </li>
                                <li>Được hỗ trợ về đào tạo và marketing</li>
                                <li>Tham gia vào làm sóng thương mại điện tử</li>
                            </ul>
                        </h6>
                    </div>
                </div>


            </div>
        </div>
        <!-- List Partner -->
        <div id="listPartner" class="row mx-lg-n4 d-flex justify-content-center">
        </div>
        <div class="mt-5 text-center">
            <p class="mb-2">
                Và còn nhiều nhãn hàng khác sắp họp tác, phát triển cùng Chanh8, bạn đã
                sẳn sàng chưa?
            </p>
            <a href="#" class="text-primary text-underline--dashed">
                Đăng ký trở thành đối tác
                <i data-feather="arrow-right" class="ml-2" />
            </a>
        </div>
    </div>
</section>




<script>

    const partner = document.getElementById("listPartner");
    const listPartner = [
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
    ];
    let html_partner = "";
    listPartner?.map(({ url_img, title }, i) => {
        html_partner += `
            <div key='${i}' class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none hover-translate-y-n10 hover-shadow-lg">
                    <div class="p-3 d-flex text-center">
                        <div class="w-50 ">
                            <image height="50" src='${url_img}' />
                        </div>
                        <div class="w-50 m-auto">
                            <span class="h6">${title}</span>
                        </div>
                    </div>
                </div>
            </div>`;
        return partner.innerHTML = html_partner
    });
</script>