<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6">
    <div class="container">
        <div class="row justify-content-lg-end">
            <div class="col-lg-5 text-lg-right">
                <h6 class="display-4 text-danger">99+</h6>
                <p class="lh-180 mb-3">
                    Đã tin dùng, Ngay bây giờ bạn hãy tạo đơn hàng, theo dõi đơn hàng, có
                    quyền truy cập vào báo cáo hàng hóa <br />
                    và nhiều hơn nữa ...
                </p>
            </div>
            <div class="col-lg-6">
                <h3 class="display-4 lh-130">Trải nghiệm trên thiết bị của bạn</h3>
                <div>
                    <ul class="list-inline">
                        <li class="list-inline-item hover-translate-y-n10">
                            <a>
                                <img src="assets/img/download/ios.svg" alt="ios" />
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a>
                                <img src="assets/img/download/android.svg" alt="android" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card border-0 bg-soft-danger">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Giao Hàng Sớm Nhất</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Giao Bằng Xe Máy <br />
                            Giao khắp các quận huyện Hồ Chí Minh<br />
                            Giao hàng một giá<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-success mt-lg-5">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-6.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Quản Lý Vận Hành</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Quản lý bằng web và app<br />
                            Dễ dàng theo dõi đơn hàng<br />
                            Dễ dàng xem giá dịch vụ<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-warning mt-lg-7">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Chăm Sóc Khách Hàng</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Đại Lý Rộng Khắp<br />
                            Nhiều ưu đãi<br />
                            Hỗ trợ 24/7<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <span class="badge badge-primary badge-pill">Đối tác</span>
                <h5 class="lh-180 mt-4 mb-6">
                    Các đối tác đã hợp tác và cùng phát triển với Chanh8
                </h5>
            </div>
        </div>
        <!-- Features -->
        <div class="row mx-lg-n4">
            <!-- Features - Col 1 -->
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">100% Responsive</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Based on Bootstrap 4</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Built with SASS</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">300+ components</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">23+ widgets</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Bootstrap Flexbox Grid</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features - Col 3 -->
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                    <i data-feather="check"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Animate CSS</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                    <i data-feather="check"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Integrated plugins</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                    <i data-feather="check"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="h6">Smart HTML markup</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p class="mb-2">
                Và còn nhiều nhãn hàng khác sắp họp tác, phát triển cùng Chanh8, bạn đã sẳn sàng chưa?
            </p>
            <a href="#" class="text-primary text-underline--dashed">
                Đăng ký trở thành đối tác
                <i data-feather="arrow-right" class="ml-2" />
            </a>
        </div>
    </div>
</section>