<!-- Ước tính chi phí -->
<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center d-flex align-center">
                <h3 class="h2-responsive bg-success w-50 rounded-top text-center text-white text-capitalize">
                    Ước tính chi phí
                </h3>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-pills nav-fill mb-3" id="tabs_2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tabs_2_1" role="tab"
                            aria-controls="home" aria-selected="true">
                            <span class="nav-link-icon d-block"><i class="fab fas fa-truck fa-2x"></i></span>
                            <span class="d-none d-sm-block mt-3">Nội thành</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tabs_2_2" role="tab"
                            aria-controls="profile" aria-selected="false">
                            <span class="nav-link-icon d-block"><i class="fas fa-truck-moving fa-2x"></i></span>
                            <span class="d-none d-sm-block mt-3">Liên tỉnh</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs_2_1" role="tabpanel" aria-labelledby="home-tab">
                        <img class='img-fluid' src="assets/img/fee/uoctinhgia.png" />
                    </div>
                    <div class="tab-pane fade" id="tabs_2_2" role="tabpanel" aria-labelledby="profile-tab">
                        <img class='img-fluid' src="assets/img/fee/gialientinh.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>