<section class="">
    <div class="container">
        <div class="row" id="ListSupport"></div>
    </div>
</section>

<script>
    const support = document.getElementById("ListSupport");
    const listSupport = [
        {
            icon: "phone",
            title: "Chăm sóc khách hàng",
            description: "Lorem ipsum dolor sit amet consectetur adipiscing.",
            contact: "1900-2616",
        },
        {
            icon: "user-cog",
            title: "Hổ trợ kỹ thuật",
            description: "Lorem ipsum dolor sit amet consectetur adipiscing.",
            contact: "1900-1211",
        },
        {
            icon: "user",
            title: "Cài đặt tài khoản",
            description: "Lorem ipsum dolor sit amet consectetur adipiscing.",
            contact: "project@example.com",
        },
    ];
    let html_support = "";
    listSupport.map(({ icon, title, description, contact }, i) => {
        html_support += `
               <div class="col-lg-4 mt-lg-${5 - i + 2}">
                <div class="card hover-translate-y-n10 hover-shadow-lg text-center">
                    <div class="px-5 pb-5 pt-5">
                        <div class="py-4">
                            <div class="icon text-warning icon-lg mx-auto ">
                                <i class='fas fa-${icon}'/>
                            </div>
                        </div>
                        <h5 class="">${title}</h5>
                        <p class="mt-2 mb-0">
                            ${description}
                        </p>
                        <div class="mt-4">
                            <a href="#" class="link-underline-warning">${contact}</a>
                        </div>
                    </div>
                </div>
            </div>`;
        return (support.innerHTML = html_support);
    });
</script>