<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                    <div class="px-5 pb-5 pt-5">
                        <div class="py-4">
                            <div class="icon text-warning icon-sm mx-auto">
                                <i data-feather="phone-call"></i>
                            </div>
                        </div>
                        <h5 class="">Nhân viên hổ trợ</h5>
                        <p class="mt-2 mb-0">
                            Lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                        <div class="mt-4">
                            <a href="#" class="link-underline-warning">sales@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                    <div class="px-5 pb-5 pt-5">
                        <div class="py-4">
                            <div class="icon text-warning icon-sm mx-auto">
                                <i data-feather="settings"></i>
                            </div>
                        </div>
                        <h5 class="">Hổ trợ kỹ thuật</h5>
                        <p class="mt-2 mb-0">
                            Lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                        <div class="mt-4">
                            <a href="#" class="link-underline-warning">support@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                    <div class="px-5 pb-5 pt-5">
                        <div class="py-4">
                            <div class="icon text-warning icon-sm mx-auto">
                                <i data-feather="users"></i>
                            </div>
                        </div>
                        <h5 class="">Cài đặt tài khoản</h5>
                        <p class="mt-2 mb-0">
                            Lorem ipsum dolor sit amet consectetur adipiscing.
                        </p>
                        <div class="mt-4">
                            <a href="#" class="link-underline-warning">project@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>